# dependencies
node_modules
.env
package-lock.json

# # testing
# /coverage
/uploads/*
# # production
# /build

# # misc
# .DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local