<% layout('layout/boilerplate') %>

  <div class="d-flex justify-content-center main-content-xmain">
    <main class="card p-3" style="text-align:center">
      <form action="/login" method="POST" class="validated-form novalidate ">
        <div class="mb-3">
          <label class="form-label" for="username">Email</label><br>
          <input class="form-control" type="email" name="username" id="username" placeholder="email" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password">Password</label><br>
          <input class="form-control" type="password" name="password" id="password" required>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">LOG IN</button>
        </div>

        <a href="/forgetpass">Forgot Password?</a>
      </form>

      <div class="mb-3 mt-4">
        <h4>Don't you have an account?</h4>
        <a href='/Register'>Register an account</a>
      </div>

    </main>
  </div>